:root {
    --nav-backgrounf: #fefeff;
    --text-color: #001738;
    --secondary-color: #3cbdef;
}

.nav-bar {
    /* Estilos de forma y color*/
    background-color: var(--nav-backgrounf);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.533);

    padding: 12px;
    /* Si se quiere tener una nav pegada al top se eliminan estos dos estilos*/
    margin: 36px ;
    border-radius: 12px;

    /* Estilos de posicion */
   display: flex;
   flex-wrap: wrap; /* <---- Permite que el contenido salte de linea*/
   justify-content: space-between;
   align-items: center;
}

.nav-bar__logo {
    & img {
        width: 160px;
    }
}

.nav-bar__links {
    display: inline-flex;
    gap: 20px;
    
    /* Las clases siguiente ayudan a la funcionalidad del hover para activar 
       desactivar todo tipo de estilos segun sea el hover tener precaucion con
       los !important
    */

    & a {
        transition: color 0.3s ease;
    }

    &:hover {
        a {
            color: var(--text-color) !important;
            border: none !important;
        }
    }
    
    .nav-bar__item {
        font-family: "Inter Variable", sans-serif;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        padding: 16px 6px;

        
        &:hover {
            color: var(--secondary-color) !important;
            border-bottom: 2px solid var(--secondary-color) !important;
        }
    }

    
    /* Selecciona el link que esta activo y lo pinta de azul 
       si se cambia de pagina quitar el active de inicio y ponerlo
       en otra pagina si esta en la nav (se puede hacer con js) 
    */
    #active {
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
    }


}

.nav-bar__links-profile {
    display: flex;

    .nav-bar__item {
        font-family: "Inter Variable", sans-serif;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        padding: 12px;
    }

    & li {
        display: inline-flex;
        align-items: center;

        &:hover {
            a {
                color: var(--secondary-color);
            }
            svg {
                fill: var(--secondary-color);
            }
        }

    }
}

/* Se hace responsive los links */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        margin: 12px;
        gap: 35px;
    }
}