* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

.App {
  text-align: center;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(../public/fonts/IBMPlexMono-Regular.ttf);
}